{% extends 'base.html' %}
{% block title %} Поезда {% endblock %}

{% block content %}
    <div class="display-4 text-center my-4">Поезда</div>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <table class="table table-striped ">
            <thead>
                <tr>
                    <th>№ поезда</th>
                    <th>Откуда</th>
                    <th>Куда</th>
                    <th>Время в пути</th>
                    <th> &nbsp;</th>
                    <th>&nbsp; </th>
                </tr>
            </thead>
                <tbody>

                {% for object in object_list %}
                    <tr>
                        <td><a href="{% url 'train:detail' pk=object.pk %}">{{ object.name }}</a></td>
                        <td>{{ object.from_city }}</td>
                        <td>{{ object.to_city }}</td>
                        <td class="text-center">{{ object.travel_time}}</td>
                        <td><a href="{% url 'train:update' pk=object.pk %}" class="btn btn-outline-secondary btn-sm">Редактировать</a>
                        </td>
                        <td><a href="{% url 'train:delete' pk=object.pk %}"
                               class="btn btn-outline-danger btn-sm">Удалить</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="pagination my-4">
                <span class="step-links">
                    {% if object_list.has_previous %}
                        <a href="?page=1">&laquo; первая</a>
                        <a href="?page={{ object_list.previous_page_number }}">предыдущая</a>
                    {% endif %}

                    <span class="current">
                        Страница {{ object_list.number }} из {{ object_list.paginator.num_pages }}.
                    </span>

                    {% if object_list.has_next %}
                        <a href="?page={{ object_list.next_page_number }}">следующая</a>
                        <a href="?page={{ object_list.paginator.num_pages }}">последняя &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mx-auto">
            <a class="btn  btn-outline-dark" href="{% url 'train:add' %}">Добавить поезд</a>
            <br><br><br>
        </div>

    </div>
{% endblock %}